.bg-image {
  background: url(/bghero6.jpg) no-repeat right center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

nav {
  background-color: rgb(1, 194, 194);
}

.title-color {
  color: rgb(1, 194, 194);
}

a.button-theme {
  background-color: rgb(255, 208, 14);
}
a.button-theme:hover {
  background-color: rgb(255, 244, 212);
}

.showcase-theme {
  background-color: rgb(255, 244, 212);
}
.word-highlight {
  color: rgb(255, 96, 80);
}

@media (max-width: 768px) {
  .bg-image {
    background: none;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
  }

  .bg-image::before {
    content: "";
    position: absolute;
    top: 1em;
    left: 0;
    width: 100%;
    height: 80%;
    opacity: 0.1;
    z-index: -1;

    background: url(/bghero6.jpg) no-repeat right center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
  }
}
