.bg-image {
  background: url(/4882464.jpg) no-repeat right top;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

h2,
h2 span {
  letter-spacing: 0.01px;
}

nav {
  background-color: rgb(1, 194, 194);
}

.title-color {
  color: rgb(1, 194, 194);
}

a.button-theme {
  background-color: rgb(255, 208, 14);
}
a.button-theme:hover {
  background-color: rgb(255, 244, 212);
}

@media (max-width: 768px) {
  .bg-image {
    background: none;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
  }

  .bg-image::before {
    content: "";
    position: absolute;
    top: 1em;
    left: 0;
    width: 110%;
    height: 110%;
    opacity: 0.1;
    z-index: -1;

    background: url(/4882464.jpg) no-repeat right center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
  }
}
